.infoBox {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #12714C;
  color: white;
  cursor: pointer;
  margin: 10px 0;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #439D58;
}

.description {
  font-size: 14px;
  color: #333;
}
